<ng-container class="content" *ngIf="isAuthenticated; else showModeTemplate">
  <!--  <h2 class="total-budget">Total Budget for {{currentMonth}}: {{totalBudget}}</h2>-->

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Бюджет" class="budget-tab">
      <div class="row justify-content-center">
        <div class="col-md-5 m-2">
          <div class="card bg-success text-white">
            <div class="card-body text-center">
              <h5 class="card-title">Загалом доходів</h5>
              <p class="card-text">{{totalIncome}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-5 m-2">
          <div class="card bg-danger text-white">
            <div class="card-body text-center">
              <h5 class="card-title">Загалом витрат</h5>
              <p class="card-text">{{totalExpense}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mt-2">
        <div class="row">
          <!-- Incomes This Month Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">За місяць <span>| Бюджет</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{currentMonthBudget}}</h6>
                    <!--                    TODO: maybe add compare with last month?-->
                    <!--                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Incomes This Month Card -->

          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">За рік <span>| Бюджет</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{currentYearBudget}}</h6>
                    <!--                    TODO: maybe add compare with last year?-->
                    <!--                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">decrease</span>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Incomes Total Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Загалом <span>| Бюджет</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{totalBudget}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Incomes Total Card -->
        </div>
      </div>


      <div class="col-12 mt-2">
        <div class="card top-selling overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" (click)="selectedIncomeFilter = 'thisMonth'">Цей місяць</a></li>
              <li><a class="dropdown-item" (click)="selectedIncomeFilter = 'thisYear'">Цей рік</a></li>
              <li><a class="dropdown-item" (click)="selectedIncomeFilter = 'total'">Загалом</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Найбільші доходи</h5>
            <table class="table table-bordered table-info table-striped table-hover table-responsive">
              <thead class="table-secondary">
              <tr>
                <th scope="col">Категорія</th>
                <th scope="col">Кількість</th>
                <th scope="col">Дата</th>
                <th scope="col">Опис</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let income of getFilteredIncomes()">
                <th scope="row">{{getCategoryName(income.categoryId)}}</th>
                <td class="text-success fw-bold">{{income.amount}}</td>
                <td>{{income.date | date}}</td>
                <td class="fw-bold">{{income.description}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 mt-2">
        <div class="card top-selling overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Фільтр</h6>
              </li>
              <li><a class="dropdown-item" (click)="selectedExpenseFilter = 'thisMonth'">Цей місяць</a></li>
              <li><a class="dropdown-item" (click)="selectedExpenseFilter = 'thisYear'">Цей рік</a></li>
              <li><a class="dropdown-item" (click)="selectedExpenseFilter = 'total'">Загалом</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Найбільші витрати</h5>
            <table class="table table-bordered table-warning table-striped table-hover table-responsive">
              <thead class="table-secondary">
              <tr>
                <th scope="col">Категорія</th>
                <th scope="col">Калькість</th>
                <th scope="col">Дата</th>
                <th scope="col">Опис</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let expense of getFilteredExpenses()">
                <th scope="row">{{getCategoryName(expense.categoryId)}}</th>
                <td class="text-danger fw-bold">{{expense.amount}}</td>
                <td>{{expense.date | date}}</td>
                <td class="fw-bold">{{expense.description}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Доходи">
      <mat-card class="chart-card">
        <mat-card-title>
          <div class="card bg-success text-white">
            <div class="card-body text-center">
              <h5 class="card-title">Доходи за цей місяць</h5>
              <p class="card-text">{{totalIncomeCurrentMonth}}</p>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content class="mt-4">
          <ngx-charts-bar-vertical class="chart"
                                   [view]="[1150, 400]"
                                   [results]="incomesData"
                                   [gradient]="gradient"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [showXAxisLabel]="true"
                                   [showYAxisLabel]="true"
                                   [xAxisLabel]="'День місяця'"
                                   [yAxisLabel]="'Кількість'"
                                   [showDataLabel]="true"
                                   [dataLabelFormatting]="dataLabelFormatting"
                                   [tooltipDisabled]="false">
            <ng-template #tooltipTemplate let-model="model">
              <div class="tooltip-content">
                <p>Amount: {{ model.value | currency:'UAH':'symbol-narrow' }}</p>
              </div>
            </ng-template>
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <ngx-charts-pie-grid [view]="[1150, 400]"
                           [results]="pieChartIncomesData"
      ></ngx-charts-pie-grid>


    </mat-tab>

    <mat-tab label="Витрати">
      <mat-card class="chart-card">
        <mat-card-title>
          <div class="card bg-danger text-white">
            <div class="card-body text-center">
              <h5 class="card-title">Витрати за цей місяць</h5>
              <p class="card-text">{{totalExpenseCurrentMonth}}</p>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content class="mt-4">

          <ngx-charts-bar-vertical class="chart"
                                   [view]="[1150, 400]"
                                   [results]="expensesData"
                                   [gradient]="gradient"
                                   [scheme]="colorScheme"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [showXAxisLabel]="true"
                                   [showYAxisLabel]="true"
                                   [xAxisLabel]="'День місяця'"
                                   [yAxisLabel]="'Кількість'"
                                   [showDataLabel]="true"
                                   [dataLabelFormatting]="dataLabelFormatting"
                                   [tooltipDisabled]="false">
            <ng-template #tooltipTemplate let-model="model">
              <div class="tooltip-content">
                <p>Amount: {{ model.value | currency:'UAH':'symbol-narrow' }}</p>
              </div>
            </ng-template>
          </ngx-charts-bar-vertical>

          <ngx-charts-pie-grid [view]="[1150, 400]"
                               [results]="pieChartExpensesData"
          ></ngx-charts-pie-grid>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</ng-container>

<ng-template #showModeTemplate>
  <section class="section error-404 mt-5 min-vh-50 d-flex flex-column align-items-center justify-content-center">
    <h2>Будь-ласка увійдіть або зареєструйтесь щоб побачити цю страницю.</h2>
    <a class="btn" routerLink="/login">
      <i class="bi bi-arrow-left-square"></i>
      Перейти на вікно входу
    </a>
  </section>
</ng-template>
