.chart-card {
  margin: 10px;
}

.chart-title {
  margin: 0 0 10px 10px;
}

.chart {
  height: 300px;
  width: 100%;
}

.total-budget {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  background-color: #e1e7e5;
}
