<ng-container *ngIf="isAuthenticated; else showModeTemplate">
  <h2 class="total-budget">Total Budget for: {{totalBudget}}</h2>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Incomes">
        <mat-card class="chart-card">
          <mat-card-title>Total Income: {{totalIncome}}</mat-card-title>
          <ngx-charts-bar-vertical class="chart"
                                   [view]="[1150, 400]"
                                   [results]="incomesData"
                                   [gradient]="gradient"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [showXAxisLabel]="true"
                                   [showYAxisLabel]="true"
                                   [xAxisLabel]="'Day of Month'"
                                   [yAxisLabel]="'Amount'"
                                   [showDataLabel]="true"
                                   [dataLabelFormatting]="dataLabelFormatting"
                                   [tooltipDisabled]="false">
            <ng-template #tooltipTemplate let-model="model">
              <div class="tooltip-content">
                <p>Amount: {{ model.value | currency:'UAH':'symbol-narrow' }}</p>
              </div>
            </ng-template>
          </ngx-charts-bar-vertical>
        </mat-card>

        <ngx-charts-pie-grid [view]="[1150, 400]"
                             [results]="pieChartIncomesData"
        ></ngx-charts-pie-grid>


    </mat-tab>
    <mat-tab label="Expenses">
      <mat-card class="chart-card">
        <mat-card-title>Total Expense: {{totalExpense}}</mat-card-title>
        <ngx-charts-bar-vertical class="chart"
                                 [view]="[1150, 400]"
                                 [results]="expensesData"
                                 [gradient]="gradient"
                                 [scheme]="colorScheme"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
                                 [xAxisLabel]="'Day of Month'"
                                 [yAxisLabel]="'Amount'"
                                 [showDataLabel]="true"
                                 [dataLabelFormatting]="dataLabelFormatting"
                                 [tooltipDisabled]="false">
          <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip-content">
              <p>Amount: {{ model.value | currency:'UAH':'symbol-narrow' }}</p>
            </div>
          </ng-template>
        </ngx-charts-bar-vertical>

        <ngx-charts-pie-grid [view]="[1150, 400]"
                             [results]="pieChartExpensesData"
        ></ngx-charts-pie-grid>
      </mat-card>
    </mat-tab>
    <mat-tab label="Budget">Budget</mat-tab>
  </mat-tab-group>

</ng-container>

<ng-template #showModeTemplate>
  <!--  TODO: implement-->
  Hello
</ng-template>
