<h2>Recent Incomes</h2>
<div *ngIf="incomes && incomes.length > 0">
  <ngx-charts-bar-horizontal
    [view]="[700, 400]"
    [scheme]="colorScheme"
    [results]="barChartData"
    [gradient]="gradient"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Recent Incomes'"
    [yAxisLabel]="'Amount'"
  ></ngx-charts-bar-horizontal>

  <ngx-charts-pie-chart
    [view]="[700, 400]"
    [scheme]="colorScheme"
    [results]="barChartData"
    [gradient]="gradient"
    [legend]="true"
  ></ngx-charts-pie-chart>


</div>

<p>Total Income: {{totalIncome}}</p>
