.form {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

button[type="submit"] {
  align-self: flex-end;
}

.card {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
