<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Створити аккаунт</h5>
                <p class="text-center small">Введіть свої особисті дані для створення облікового запису</p>
              </div>

              <form class="row g-3 needs-validation"
                    [formGroup]="_registerForm"
                    (ngSubmit)="_onSubmit()"
                    novalidate>

                <div class="col-12">
                  <label for="firstName"
                         class="form-label"
                         [class.text-danger]="_showErrors">Ваше ім'я</label>
                  <input type="text"
                         class="form-control"
                         id="firstName"
                         placeholder="Ім'я"
                         formControlName="firstName"
                         [class.border-danger]="_showErrors"
                         required>
                </div>

                <div class="col-12">
                  <label for="lastName"
                         class="form-label"
                         [class.text-danger]="_showErrors">Ваше прізвище</label>
                  <input type="text"
                         class="form-control"
                         id="lastName"
                         placeholder="Прізвище"
                         formControlName="lastName"
                         [class.border-danger]="_showErrors"
                         required>
                </div>

                <div class="col-12">
                  <label for="emailField1"
                         class="form-label"
                         [class.text-danger]="_showErrors">
                    Пошта
                  </label>
                  <div *ngIf="_showErrors"
                       class="text-danger">
                    Неправильно введені дані
                  </div>
                  <div class="input-group has-validation">
                    <input type="email"
                           formControlName="email"
                           class="form-control"
                           id="emailField1"
                           placeholder="Введіть дійсну адресу електронної пошти"
                           [class.border-danger]="_showErrors"
                           required>
                  </div>
                </div>

                <div class="col-12">
                  <label for="passwordField1" class="form-label" [class.text-danger]="_showErrors">Пароль</label>
                  <input type="password"
                         formControlName="password"
                         class="form-control"
                         placeholder="Пароль"
                         id="passwordField1"
                         [class.border-danger]="_showErrors"
                         [type]="_showPassword ? 'text' : 'password'"
                         required>
                  <!--                  <div class="input-group-append">-->
                  <!--                    <span class="input-group-text text-center" (click)="_onEyeClick()">-->
                  <!--                      <i id="eye1"-->
                  <!--                         [class]="_showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"-->
                  <!--                      ></i>-->
                  <!--                    </span>-->
                  <!--                  </div>-->
                </div>

                <!-- Confirm password -->
                <div class="col-12"
                     [class.text-danger]="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">
                  <label>
                    Підтвердження пароля
                  </label>
                  <input formControlName="confirmPassword"
                         class="form-control pass"
                         placeholder="Підтвердження пароля"
                         [type]="_showPassword ? 'text' : 'password'"
                         [class.border-danger]="_showErrors">
                  <span *ngIf="_registerForm.controls['confirmPassword'].errors?.['mustMatch'] && _showErrors;"
                        class=" text-danger text-sm">
                    Невідповідність пароля
                  </span>
                </div>

                <!--                <div class="col-12">-->
                <!--                  <div class="form-check">-->
                <!--                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>-->
                <!--                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and-->
                <!--                      conditions</a></label>-->
                <!--                    <div class="invalid-feedback">You must agree before submitting.</div>-->
                <!--                  </div>-->
                <!--                </div>-->

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Реєстрація</button>
                </div>

                <div class="col-12 fw-bold">
                  <p class="small mb-0">У вас вже є обліковий запис?
                    <a class="link-danger" routerLink="/login">
                      Вхід
                    </a>
                  </p>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>


<!--<section class="vh-75">-->
<!--  <div class="container-fluid h-custom">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="col-md-9 col-lg-6 col-xl-5">-->
<!--        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"-->
<!--             class="img-fluid" alt="Sample image">-->
<!--      </div>-->
<!--      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">-->
<!--        <form class="modal-dialog modal-dialog-centered"-->
<!--              [formGroup]="_registerForm"-->
<!--              (ngSubmit)="_onSubmit()">-->
<!--          <div class="modal-content p-4">-->
<!--            <div class="modal-body custom_body">-->
<!--              &lt;!&ndash;              <p class="h3 text-center pb-4">Registration</p>&ndash;&gt;-->

<!--              &lt;!&ndash; First name &ndash;&gt;-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <div class="form-group mr-3 mb-3">-->
<!--                  <label class="mb-2" [class.text-danger]="_showErrors">Name</label>-->
<!--                  <input type="text"-->
<!--                         class="form-control text-dark"-->
<!--                         placeholder="Name"-->
<!--                         formControlName="firstName"-->
<!--                         [class.border-danger]="_showErrors">-->
<!--                </div>-->
<!--                &lt;!&ndash; Last name &ndash;&gt;-->
<!--                <div class="form-group mb-3">-->
<!--                  <label class="mb-2" [class.text-danger]="_showErrors">Surname</label>-->
<!--                  <input type="text"-->
<!--                         class="form-control text-dark"-->
<!--                         placeholder="Surname"-->
<!--                         formControlName="lastName"-->
<!--                         [class.border-danger]="_showErrors">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; E-mail &ndash;&gt;-->
<!--              <div class="form-group mb-3">-->
<!--                <label class="mb-2"-->
<!--                       [class.text-danger]="_showErrors">Email</label>-->
<!--                <input type="email"-->
<!--                       class="form-control text-dark"-->
<!--                       placeholder="Email"-->
<!--                       formControlName="email"-->
<!--                       [class.border-danger]="_showErrors">-->
<!--              </div>-->
<!--              &lt;!&ndash; Password &ndash;&gt;-->
<!--              <div class="form-group">-->
<!--                <div>-->
<!--                  <label class="mb-2"-->
<!--                         [class.text-danger]="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">Password</label>-->
<!--                  <span class="text-sm text-danger"-->
<!--                        *ngIf="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">-->
<!--            (minimum length 8 characters)</span>-->
<!--                </div>-->
<!--                <div class="input-group input-group-merge pass rounded mb-3"-->
<!--                     [class.border-danger]="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">-->
<!--                  <input formControlName="password"-->
<!--                         class="form-control pass"-->
<!--                         placeholder="Password"-->
<!--                         [type]="_showPassword ? 'text' : 'password'"-->
<!--                         [class.border-danger]="_showErrors">-->
<!--                  &lt;!&ndash; <div class="input-group-append">-->
<!--                    <span class="input-group-text">-->
<!--                      <i id="eye" (click)="onEyeClick()" [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"-->
<!--                        aria-hidden="true"></i>-->
<!--                    </span>-->
<!--                  </div> &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; Confirm password &ndash;&gt;-->
<!--                <div class="mb-4">-->
<!--                  <label class="mb-2"-->
<!--                         [class.text-danger]="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">Confirm-->
<!--                    password</label>-->
<!--                  <div class="input-group input-group-merge pass rounded"-->
<!--                       [class.border-danger]="(_registerForm.controls['password'].errors || _registerForm.controls['confirmPassword'].errors) && _showErrors">-->
<!--                    <input formControlName="confirmPassword"-->
<!--                           class="form-control pass"-->
<!--                           placeholder="Confirm password"-->
<!--                           [type]="_showPassword ? 'text' : 'password'"-->
<!--                           [class.border-danger]="_showErrors">-->
<!--                  </div>-->
<!--                  <span *ngIf="_registerForm.controls['confirmPassword'].errors?.['mustMatch'] && _showErrors;"-->
<!--                        class=" text-danger text-sm">-->
<!--            Password mismatch-->
<!--          </span>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; Sign up button &ndash;&gt;-->
<!--              <button class="mb-4 mt-3 btn btn-primary w-100"-->
<!--                      type="submit">-->
<!--                Sign up-->
<!--              </button>-->
<!--              <div class="border-top">-->
<!--                <div class="mt-3 d-flex justify-content-center">-->
<!--                  <p class="fw-bold mt-2 pt-1 mb-0">-->
<!--                    <a class="link-danger" routerLink="/login">Sign in </a>-->
<!--                    to your existing account</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
