<div class="example-container"
     [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">

    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
      <!--      <mat-icon *ngIf="sidenav.opened">close</mat-icon>-->
    </button>

    <!--    <span>Control of income and expenses</span>-->
    <span>Danyhry App</span>

    <div class="spacer"></div>

    <div class="items">
      <span>Control of income and expenses</span>
      <!--      <a mat-button routerLink="dashboard">Dashboard</a>-->
      <!--      <a mat-button routerLink="users">Users</a>-->
      <!--      <a mat-button routerLink="tables">Tables</a>-->
    </div>

    <div class="spacer"></div>

    <div *ngIf="!authService.isAuthenticated(); else showProfile">
      <a mat-raised-button color="accent" class="me-1" routerLink="login">Login</a>
      <a mat-raised-button color="warn" routerLink="register">Register</a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav"
                 class="mat-elevation-z8"
                 fixedTopGap="56"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 [opened]="true">
      <mat-nav-list>
        <mat-list-item class="menu-button"
                       routerLink="/dashboard">
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>

        <mat-list-item class="menu-button"
                       routerLink="/incomes">
          <mat-icon>attach_money</mat-icon>
          <span>Incomes</span>
        </mat-list-item>

        <mat-list-item class="menu-button"
                       routerLink="/expanses">
          <mat-icon>money_off</mat-icon>
          <span>Expanses</span>
        </mat-list-item>

        <mat-list-item *ngIf="user?.role?.name === 'ADMIN'"
                       class="menu-button"
                       routerLink="/users">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </mat-list-item>

        <mat-list-item class="menu-button"
                       routerLink="/ideas">
          <mat-icon>info</mat-icon>
          <span>Ideas</span>
        </mat-list-item>

        <mat-list-item class="menu-button"
                       routerLink="/faq">
          <mat-icon>help_outline</mat-icon>
          <span>F.A.Q</span>
        </mat-list-item>

        <mat-list-item class="menu-button"
                       routerLink="/contact">
          <mat-icon>contact_mail</mat-icon>
          <span>Contact</span>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="content">
        <router-outlet></router-outlet>
        <!--        <app-footer></app-footer>-->
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<ng-template #showProfile>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    <span class="m-1">{{user?.firstName}} {{user?.lastName}}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person_outline</mat-icon>
      <span class="custom-menu">
        Profile
      </span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="_logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="custom-menu">
        Logout
      </span>
    </button>
  </mat-menu>
</ng-template>
