mat-sidenav {
  width: 150px;
  background: #57989a;
  padding: 16px 0 16px 0;
  text-align: center;
}

.content {
  height: calc(100vh - 64px);
}

.menu-button {
  width: 100%;
  display: flex;
  font-size: 1rem;
  font-weight: 500;

  mat-icon {
    margin-right: 8px;
  }
}

button.mat-menu-item {
  font-weight: 500;
}


.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  color: black;
}

a:hover {
  color: #312c2c
}

.custom-menu {
  margin-right: 20px;
}
