<mat-card class="card">
  <h1 class="text-center">Калькулятор капіталу інвестицій</h1>
  <mat-card-content>
    <form [formGroup]="investmentsForm" class="container">
      <div class="form-row">
        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Ваш капітал на даний момент</mat-label>
            <input matInput formControlName="startingCapital" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-2">
          <mat-form-field>
            <mat-label>Доходи за місяць</mat-label>
            <input matInput formControlName="incomes" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Витрати за місяць</mat-label>
            <input matInput formControlName="expenses" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Скільки вам років?</mat-label>
            <input matInput formControlName="age" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Очікуване зростання доходів за рік</mat-label>
            <input matInput formControlName="expectedIncomeGrowthRate" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Оцінка % від ваших інвестицій</mat-label>
            <input matInput formControlName="investmentRate" type="number" placeholder="0">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Інфляція</mat-label>
            <input matInput formControlName="inflationRate" type="number" placeholder="0">
          </mat-form-field>
        </div>
      </div>
    </form>

    <div mat-dialog-actions class="d-flex justify-content-end mt-3">
      <button mat-raised-button color="primary" (click)="createInvestmentModel()">Розрахувати</button>
    </div>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="this.isCreateInvestmentModel">
  <mat-card class="card mt-3 mb-3">
    <mat-card-title class="title">Зріст капіталу</mat-card-title>
    <mat-card-content>
      <ngx-charts-line-chart [view]="[1100, 400]"
                             [scheme]="colorScheme"
                             [results]="chartData"
                             [gradient]="false"
                             [xAxis]="true"
                             [yAxis]="true"
                             [legend]="false"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxisLabel]="'Рік'"
                             [yAxisLabel]="'Загальний капітал'"
      ></ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> Вік</th>
          <td mat-cell *matCellDef="let element"> {{ this.age + element.year }} </td>
        </ng-container>

        <ng-container matColumnDef="incomesInMonth">
          <th mat-header-cell *matHeaderCellDef> Доходи</th>
          <td mat-cell *matCellDef="let element"> {{ element.incomesInMonth }} </td>
        </ng-container>

        <ng-container matColumnDef="expenses">
          <th mat-header-cell *matHeaderCellDef> Витрати</th>
          <td mat-cell *matCellDef="let element"> {{ element.expenses }} </td>
        </ng-container>

        <ng-container matColumnDef="monthlyNetIncome">
          <th mat-header-cell *matHeaderCellDef> Щомісячний чистий дохід</th>
          <td mat-cell *matCellDef="let element"> {{ element.monthlyNetIncome }} </td>
        </ng-container>

        <ng-container matColumnDef="totalIncomeForThisYear">
          <th mat-header-cell *matHeaderCellDef> Загальний дохід за цей рік</th>
          <td mat-cell *matCellDef="let element"> {{ element.totalIncomeForThisYear }} </td>
        </ng-container>

        <ng-container matColumnDef="totalIncomeForLastYear">
          <th mat-header-cell *matHeaderCellDef> Загальний дохід за минулий рік</th>
          <td mat-cell *matCellDef="let element"> {{ element.totalIncomeForLastYear }} </td>
        </ng-container>

        <ng-container matColumnDef="percentForLastYearIncome">
          <th mat-header-cell *matHeaderCellDef> Відсоток від минулорічного доходу</th>
          <td mat-cell *matCellDef="let element"> {{ element.percentForLastYearIncome }} </td>
        </ng-container>
        <ng-container matColumnDef="percentForThisYearIncome">
          <th mat-header-cell *matHeaderCellDef> Відсоток від цьогорічного доходу</th>
          <td mat-cell *matCellDef="let element"> {{ element.percentForThisYearIncome }} </td>
        </ng-container>
        <ng-container matColumnDef="totalCapital">
          <th mat-header-cell *matHeaderCellDef> Загальний капітал</th>
          <td mat-cell *matCellDef="let element"> {{ element.totalCapital }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>
