<mat-toolbar color="primary">
  <span><mat-icon>eco</mat-icon> Danyhry App</span>

  <div class="spacer"></div>

  <a mat-button routerLink="dashboard">Dashboard</a>
  <a mat-button routerLink="users">Users</a>
  <a mat-button routerLink="tables">Tables</a>

  <div class="spacer"></div>

  <div *ngIf="!_isAuthenticated; else showProfile">
    <a mat-raised-button color="accent" class="me-1" routerLink="login">Sign In</a>
    <a mat-raised-button color="warn" routerLink="register">Sign Up</a>
  </div>

</mat-toolbar>

<ng-template #showProfile>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="_logOut()">Logout</button>
  </mat-menu>
</ng-template>
