<!--Section: FAQ-->
<section>
  <h3 class="text-center text-primary fw-bold">FAQ</h3>
  <p class="text-center ">
    Нижче ви знайдете відповіді на найпоширеніші запитання
  </p>

  <div class="row m-lg-3">
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Як я можу переконатися, що
        мої витрати та доходи точно зафіксовані в трекері?</h4>
      <p>
        Переконайтеся, що ви правильно класифікуєте свої витрати та доходи, регулярно переглядайте та звіряйте свої записи, а також своєчасно проводьте транзакції, щоб уникнути помилок або пропусків.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Як я можу захистити свої конфіденційні
        фінансові дані в трекері витрат і доходів?</h4>
      <p>
        Переконайтеся, що ви використовуєте надійний та унікальний пароль для свого облікового запису. Ви також повинні бути обережними, коли ділитеся своїми даними з іншими або коли
        заходите до свого акаунта з публічних або незахищених мереж.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Як я можу відслідковувати операції з готівкою
        транзакції в трекері?
      </h4>
      <p>
        Для операцій з готівкою у вас є категорія під назвою "Готівка" і ви можете реєструвати кожну транзакцію в цій категорії.
        Крім того, ви можете використовувати мобільний додаток для відстеження ваших готівкових витрат і доходів, а потім вручну вносити дані в трекер.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Як часто я повинен переглядати свої
        витрати та доходи?</h4>
      <p>
        Варто переглядати свій трекер хоча б декілька раз на неділю, щоб переконатися,
        що ваші витрати та доходи точно зафіксовані, а бюджет не перевищує запланований.
        Ви також можете переглядати свій трекер частіше, якщо ви намагаєтеся заощадити гроші або виплатити борги,
        або якщо у вас нерегулярний чи мінливий дохід.
      </p>
    </div>


    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> Як я можу використовувати трекер для створення
        бюджет?
      </h4>
      <p>
        Щоб створити бюджет у трекері, почніть з категоризації ваших витрат і доходів, а потім встановіть місячний
        або річний бюджет для кожної категорії.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Що робити, якщо я випадково
        записав операцію не в ту категорію?
      </h4>
      <p>
        Більшість трекерів витрат і доходів дозволяють редагувати або перекатегоризувати транзакції після того, як вони були
        записані. Просто знайдіть транзакцію і змініть категорію за потреби.
      </p>

    </div>

  </div>

  <div>
    <p class="text-center h4">
      Залишилися питання?
      <a class="link-danger" routerLink="/contact">
        Зв'яжіться з нами
      </a>
    </p>
  </div>
</section>
<!--Section: FAQ-->
