<!--Section: FAQ-->
<section>
  <h3 class="text-center text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row m-lg-3">
    <div class="col-md-6 col-lg-4 mb-4">
      <h4 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> How can I ensure that my
        expenses and incomes are accurately recorded in the tracker?</h4>
      <p>
        Make sure to categorize your expenses and incomes correctly, review and reconcile your records regularly, and
        enter transactions promptly to avoid errors or omissions.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> How can I protect my sensitive
        financial data in the expenses and incomes tracker?</h4>
      <p>
        Make sure to use a strong and unique password for your account, and consider enabling two-factor authentication
        or other security measures if available. You should also be careful when sharing your data with others or when
        accessing your account from public or unsecured networks.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> How can I keep track of cash
        transactions in the tracker?
      </h4>
      <p>
        For cash transactions, you can create a category called "Cash" and record each transaction in this category.
        Alternatively, you could use a mobile app to track your cash expenses and incomes, and then manually enter the
        data into the tracker.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> How often should I review my
        expenses and incomes tracker?</h4>
      <p>
        It's a good idea to review your tracker at least once a month to ensure that your expenses and incomes are
        accurately recorded and your budget is on track. You may also want to review your tracker more frequently if
        you're trying to save money or pay off debt, or if you have irregular or variable income. </p>
    </div>


    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> How can I use the tracker to create a
        budget?
      </h4>
      <p>
        To create a budget in the tracker, start by categorizing your expenses and incomes and then setting a monthly
        or yearly budget for each category.
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <h4 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> What should I do if I accidentally
        record a transaction in the wrong category?
      </h4>
      <p>
        Most expenses and incomes trackers allow you to edit or re-categorize transactions after they have been
        recorded. Simply locate the transaction and change the category as needed.
      </p>

    </div>

  </div>

  <div>
    <p class="text-center h4">
      Still have questions?
      <a class="link-danger" routerLink="/contact">
        Contact us
      </a>
    </p>
  </div>
</section>
<!--Section: FAQ-->
