.form {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

button[type="submit"] {
  align-self: flex-end;
}

.card {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #008000;
}

.mat-list-item {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.error-404 {
  padding: 30px;

  h1 {
    font-size: 180px;
    font-weight: 700;
    color: #4154f1;
    margin-bottom: 0;
    line-height: 150px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    margin-bottom: 30px;
  }

  .btn {
    background: #2d6b9d;
    color: #fff;
    padding: 8px 30px;
  }

  .btn:hover {
    background: #3e4f6f;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  button {
    margin-right: 5px;
  }
}
