<div class="m-1">
  <h1 class="text-center">Зв'яжіться з нами</h1>
  <div class="fs-6 fw-light mb-2">Залиште своє повідомлення нижче.</div>
  <form [formGroup]="contactForm" (ngSubmit)="_onSubmit()">
    <div class="mb-5">
      <label for="message">Повідомлення</label>
      <textarea class="form-control"
                id="message"
                formControlName="message"
                rows="5"
                [class.border-danger]="isShowError"
                required
      ></textarea>
    </div>
    <div class="mb-5 row">
      <div class="col">
        <label>Ваше ім'я:</label>
        <input type="text"
               required
               maxlength="50"
               class="form-control"
               id="firstName"
               formControlName="firstName"
               [class.border-danger]="isShowError">
      </div>
      <div class="col">
        <label for="email">Ваша пошта:</label>
        <input type="email"
               required
               maxlength="50"
               class="form-control"
               id="email"
               formControlName="email"
               placeholder="name@example.com"
               [class.border-danger]="isShowError">
      </div>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Відправити</button>
    </div>
  </form>
</div>
