<div class="m-1">
  <h1 class="text-center">Contact Us</h1>
  <div class="fs-6 fw-light mb-2">Post your message below.</div>
  <form id="contact_form" name="contact_form" method="post"
        [formGroup]="contactForm"
        (ngSubmit)="_onSubmit()">
    <div class="mb-5">
      <label for="message">Message</label>
      <textarea class="form-control"
                id="message"
                formControlName="message"
                rows="5"
                [class.border-danger]="isShowError"
                required
      ></textarea>
    </div>
    <div class="mb-5 row">
      <div class="col">
        <label>Your Name:</label>
        <input type="text"
               required
               maxlength="50"
               class="form-control"
               id="firstName"
               formControlName="firstName"
               [class.border-danger]="isShowError">
      </div>
      <div class="col">
        <label for="email">Your Email:</label>
        <input type="email"
               required
               maxlength="50"
               class="form-control"
               id="email"
               formControlName="email"
               placeholder="name@example.com"
               [class.border-danger]="isShowError">
      </div>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </form>
</div>
