<div *ngIf="!authService.isAuthenticated(); else emptyPage" class="container">

  <section class="section register mt-5 d-flex flex-column align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Вхід в аккаунт</h5>
                <p class="text-center small">Введіть свою пошту та пароль для входу</p>
              </div>

              <form class="row g-3 needs-validation"
                    [formGroup]="loginForm"
                    (ngSubmit)="_onSubmit()"
                    novalidate>

                <div class="col-12">
                  <label for="emailField1" class="form-label" [class.text-danger]="showErrors">Пошта</label>
                  <div *ngIf="showErrors"
                       class="text-danger">
                    Неправильно введена пошта
                  </div>
                  <div class="input-group has-validation">
                    <input type="email"
                           formControlName="email"
                           class="form-control"
                           id="emailField1"
                           placeholder="Введіть валідну пошту"
                           [class.border-danger]="showErrors"
                           required>
                    <div class="invalid-feedback">Введіть свою пошту.</div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="passwordField1" class="form-label" [class.text-danger]="showErrors">Пароль</label>
                  <input type="password"
                         formControlName="password"
                         class="form-control"
                         id="passwordField1"
                         placeholder="Введіть пароль"
                         [class.border-danger]="showErrors"
                         [type]="showPassword ? 'text' : 'password'"
                         required>
                  <!--                  <div class="input-group-append">-->
                  <!--                    <span class="input-group-text text-center" (click)="_onEyeClick()">-->
                  <!--                      <i id="eye1"-->
                  <!--                         [class]="_showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"-->
                  <!--                      ></i>-->
                  <!--                    </span>-->
                  <!--                  </div>-->
                  <div class="invalid-feedback">Please enter your password!</div>
                </div>


                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           formControlName="remember"
                           id="rememberCheck1">
                    <label class="form-check-label" for="rememberCheck1">Запам'ятати мене</label>
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Вхід</button>
                </div>

                <div class="col-12 fw-bold">
                  <p class="small mb-0">Немає аккаунту?
                    <a class="link-danger" routerLink="/register">
                      Реєстрація
                    </a>
                  </p>
                  <p class="small mb-0">
                    <a class="link-danger" (click)="openRecovery()">Забули пароль?</a>
                  </p>
                </div>


              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>


<ng-template #emptyPage>
  <div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>Ви вже увійшли в систему.</h2>
      <a class="btn" routerLink="/dashboard">Повернутися до панелі управління</a>
    </section>

  </div>
</ng-template>
