<h1 mat-dialog-title>Edit income</h1>
<div mat-dialog-content>
  <form [formGroup]="incomeForm">

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="amount" placeholder="Amount" required>
      <mat-error *ngIf="incomeForm.get('amount')?.invalid && incomeForm.get('amount')?.touched">
        Amount is required and must be a valid number (e.g. 1234.56 or 1234,56).
      </mat-error>
    </mat-form-field>

    <mat-form-field (click)="picker.open()">
      <input matInput [matDatepicker]="picker" type="text" formControlName="date" placeholder="Date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="incomeForm.get('date')?.invalid && incomeForm.get('date')?.touched">
        Date is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="description" placeholder="Description">
<!--      <mat-error *ngIf="incomeForm.get('description')?.invalid && incomeForm.get('description')?.touched">-->
<!--        Description is required and cannot be longer than 50 characters.-->
<!--      </mat-error>-->
    </mat-form-field>

  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="updateIncome()">Update</button>
  </div>

</div>
