<h1 mat-dialog-title>Редагувати дохід</h1>
<div mat-dialog-content>
  <form [formGroup]="incomeForm" class="form">

    <mat-form-field>
      <mat-label>Категорія</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="amount" placeholder="Кількість" required>
      <mat-error *ngIf="incomeForm.get('amount')?.invalid && incomeForm.get('amount')?.touched">
        Кількість обов'язкова і повинна мати валідне число, наприклад 1234.
      </mat-error>
    </mat-form-field>

    <mat-form-field (click)="picker.open()">
      <input matInput [matDatepicker]="picker" type="text" formControlName="date" placeholder="Дата" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="incomeForm.get('date')?.invalid && incomeForm.get('date')?.touched">
        Дата обов'язкова.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="description" placeholder="Опис">
<!--      <mat-error *ngIf="incomeForm.get('description')?.invalid && incomeForm.get('description')?.touched">-->
<!--        Description is required and cannot be longer than 50 characters.-->
<!--      </mat-error>-->
    </mat-form-field>

  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Зачинити</button>
    <button mat-raised-button color="primary" (click)="updateIncome()">Оновити</button>
  </div>

</div>
